<div class="register">
  <form class="register-form" [formGroup]="registerForm">
    <div class="data">
      <div>Name</div>
      <input class="data-input" formControlName="registerName" />
    </div>
    <div class="data">
      <div>Surname</div>
      <input class="data-input" formControlName="registerSurname" />
    </div>
    <div class="data">
      <div>Age</div>
      <input class="data-input" formControlName="registerAge" />
    </div>
    <div class="data">
      <div>Email</div>
      <input class="data-input" formControlName="registerEmail" />
    </div>
    <div class="data">
      <div>Password</div>
      <input class="data-input" formControlName="registerPassword" />
    </div>
    <div class="register-helpers">
      <button class="register-helpers-button" (click)="handleBackRelocation()">
        Back
      </button>
      <button class="register-helpers-button" (click)="handleRegisterUser()">
        Register
      </button>
    </div>
  </form>
</div>
