@import "../../styles/mixins";

:host {
  @include flex-component();
  height: 85vh;
  width: 100%;

  .register {
    @include component-purple() {
      &:hover {
        background: $project-purple-a;
      }
    }
    width: 50%;
    height: 90%;

    .register-form {
      @include flex-component() {
        justify-content: space-around;
      }
      flex-direction: column;
      width: 100%;
      height: 100%;

      .data {
        @include flex-component() {
          justify-content: space-between;
        }
        @include component-red() {
          &:hover {
            background: $project-red-a;
          }
        }
        height: 10%;
        font-size: 1.5vw;
        color: $project-white;
        width: 90%;
        padding: 0 1% 0 1%;

        .data-input {
          @include component-purple() {
            &:hover {
              background: $project-purple-a;
            }
          }
          outline: none;
          color: $project-white;
          width: 70%;
          font-size: 1.5vw;
        }
      }

      .register-helpers {
        @include flex-component() {
          justify-content: space-between;
        }
        height: 10%;
        width: 90%;
        padding: 0 1% 0 1%;

        .register-helpers-button {
          @include component-red();
          outline: none;
          color: $project-white;
          font-size: 1.4vw;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
