@import './styles/mixins';

:host {
  @include flex-component();
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  font-family: Poppins;
  // background: linear-gradient(180deg, #7E3858 0%, #2C6176 100%);
  background: url(./images/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-16.jpg);
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');