@import "../../styles/mixins";

:host {
  @include flex-component();
  width: 100%;
  height: 5vh;
  font-size: 1.2vw;

  .footer-title {
    width: max-content;
    color: $project-purple;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $project-purple;
  }
}
