@import "../../styles/mixins";

:host {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    margin-left: 1%;
    width: max-content;
    font-size: 3.5vw;
    color: $project-purple;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $project-purple;
  }

  .exit {
    margin-right: 1%;
    font-size: 2vw;
    color: $project-red;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $project-red;
  }
}
