@import "../../styles/mixins";

:host {
  @include flex-component();
  height: 85vh;
  width: 100%;

  .password-recovery {
    @include flex-component() {
      justify-content: space-around;
    }
    @include component-purple() {
      &:hover {
        background: $project-purple-a;
      }
    }
    width: 50%;
    height: 30%;
    flex-direction: column;

    .data {
      @include flex-component() {
        justify-content: space-around;
      }
      @include component-red() {
        &:hover {
          background: $project-red-a;
        }
      }
      width: 90%;
      height: 40%;
      font-size: 1.6vw;
      color: $project-white;

      .data-input {
        @include component-purple() {
          &:hover {
            background: $project-purple-a;
          }
        }
        width: 70%;
        font-size: 1.6vw;
        outline: none;
        color: $project-white;
      }
    }

    .password-recovery-helpers {
      @include flex-component() {
        justify-content: space-between;
      }
      height: max-content;
      width: 90%;
      padding: 0 1% 0 1%;

      .password-recovery-button {
        @include component-red();
        outline: none;
        color: $project-white;
        font-size: 1.4vw;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
