<div class="password-recovery">
  <div class="data">
    <div>Email</div>
    <input class="data-input" />
  </div>
  <div class="password-recovery-helpers">
    <button class="password-recovery-button" (click)='handleBackRelocation()'>Back</button>
    <button class="password-recovery-button">Send</button>
  </div>
</div>
