$project-red: rgb(245, 54, 54);
$project-red-a: rgba(245, 54, 54, 0.3);
$project-purple-a: rgba(138, 43, 226, 0.3);
$project-purple: rgb(138, 43, 226);
$project-white: rgb(211, 211, 211);

@mixin component-purple() {
  border: 3px solid $project-purple;
  background: $project-purple-a;
  transition: 0.3s ease-in-out;

  &:hover {
    background: $project-purple;
  }
  @content;
}

@mixin component-red() {
  border: 3px solid $project-red;
  background: $project-red-a;
  transition: 0.3s ease-in-out;

  &:hover {
    background: $project-red;
  }
  @content;
}

@mixin flex-component() {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}
