@import "../../styles/mixins";

:host {
  @include flex-component();
  height: 85vh;
  width: 100%;

  .auth {
    @include flex-component() {
      justify-content: space-between;
    }
    flex-direction: column;
    width: 50%;
    height: 80%;

    .data {
      @include flex-component() {
        justify-content: space-between;
      }
      @include component-purple();
      width: 90%;
      height: 30%;
      padding: 0 2% 0 2%;

      .data-input {
        @include component-red() {
          &:hover {
            background: $project-red-a;
          }
        }
        outline: none;
        color: $project-white;
        width: 65%;
        height: 35%;
        font-size: 2vw;
      }

      .data-title {
        font-size: 2vw;
        color: $project-white;
      }
    }

    .enter {
      @include flex-component() {
        justify-content: space-between;
      }
      flex-direction: column;
      width: 100%;
      height: 20%;

      .enter-button {
        @include component-red();
        outline: none;
        font-size: 2vw;
        color: $project-white;

        &:hover {
          cursor: pointer;
        }
      }

      .enter-helpers {
        @include flex-component();
        @include component-purple();
        margin-top: 2%;
        font-size: 1.2vw;
        flex-direction: column;
        color: $project-white;

        .enter-helpers-link {
          transition: 0.3s ease-in-out;

          &:hover {
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
