<div class="auth">
  <div class="data">
    <div class="data-title">Login</div>
    <input class="data-input" name="enterEmail" [formControl]="enterEmailControl"  />
  </div>
  <div class="data">
    <div class="data-title">Password</div>
    <input class="data-input" name="enterPassword" [formControl]="enterPasswordControl" />
  </div>
  <div class="enter">
    <button class="enter-button" (click)='handleEnterUser()'>Enter</button>
    <div class="enter-helpers">
      <div class="enter-helpers-link" (click)='handleRelocationRegister()'>Register</div>
      <div class="enter-helpers-link" (click)='handleRelocationRecovery()'>Forgot password?</div>
    </div>
  </div>
</div>
